1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
"hello"
-87.8
-
/
+
6

* --> its is a arthemict operator ,this is multiplication operator

In [ ]:
"hello" -> its is a string datatype
-87.8-> its is a float datatype
- -> its is arthmetic opreator, this is subtraction opreator
/ --> its is arthmetic opreator,this is division opreator
+ --> its is arthmetic opreator,this is addition opreator
6 --> its is integer datatype,this is whole number

2. What is the difference between string and variable?

Ans-> string : A string is a type of data that represents text.

It is made up of characters enclosed in quotation marks (' ', " ").

    variable: A variable is a name that is used to store data (including strings).

It acts as a container for values that can change.

3. Describe three different data types.
ans--> 1. Integer (int)
its Represents whole numbers (no decimal points).

Examples: 5, -10, 0, 1000

Use: Used for counting, indexing, arithmetic operations, etc

In [ ]:
age = 25
print(age)
type(age)

2. String (str) :
its Represents a sequence of characters (text).

Examples: "hello", '123', "True"

Use: Used for storing names, messages, user input, etc.
Example

In [4]:
name = "shiya"
print(name)
type(name)

shiya

str

3. Boolean (bool) :
 Represents a truth value â€” either True or False.

Examples: True, False

Use: Used in decision-making, conditions, and logical operations.

Ex-

In [7]:
name = True
print(name)
type(True)

True

bool

4. What is an expression made up of? What do all expressions do?

ans_> An expression is a combination of values,
variables, operators, and function calls that Python (or any programming language) can evaluate (calculate) to produce a result.

ðŸ”¹ An Expression is made up of:

 . Values : 
Literal data like numbers or strings.
    ex-

In [10]:

name = "shiya"
print(name)

shiya

In [11]:
5+4

9

Variables ->
Names that store data.
Example: x, name

In [14]:
name = "shiya"
print(name)

shiya

Operators ->
Symbols that perform operations (e.g., +, -, *, /).
Ex-

In [15]:
2+3

5

Function calls -> 
Built-in or custom functions that return values.
Example

In [16]:
len("hello")

5

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans -> Statement : 
A statement is a line of code that performs an action.
It does something, like creating a variable, running a loop, or calling a function.

In [17]:
spam = 10

This is an assignment statement. It assigns the value 10 to the variable spam. It doesnâ€™t return a value .
it just does the action.

Expression :  
An expression is a combination of values, variables, and operators that produces a value.

In [18]:
3 + 4

7

In [19]:
spam * 2

20

"Hi" + "!"

6. After running the following code, what does the variable bacon contain?

In [22]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

In [23]:
"shiya" + "shah"

'shiyashah'

In [24]:
"shiya" * 3

'shiyashiyashiya'

8. Why is eggs a valid variable name while 100 is invalid?

Ans->  eggs : 
It starts with a letter (e).

It contains only letters (aâ€“z, Aâ€“Z), numbers (0â€“9), or underscores (_).

It does not start with a number.

In [25]:
100 = "hello"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2679302629.py, line 1)


Python will think 100 is a number, not a name.

In [27]:
mark = 100
print(mark)

100

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans -> In Python, you can use three built-in functions to convert values between data types:

 . int() â€” Converts to integer
Converts a number or string into an integer (removes decimal part if any).

In [28]:
int(3.9)

3

In [29]:

int("42")

42

. float() â€” Converts to floating-point number
Converts a number or numeric string into a float (decimal number).

In [32]:
float(5)      
float("3.14")

3.14

. str() â€” Converts to string
Converts a number or any object into a string

In [33]:
str(100)

'100'

In [34]:

str(3.14)

'3.14'

10. Why does this expression cause an error? How can you fix it?

Ans :

In [35]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

this cause an error
Python tries to add (concatenate) a string and an integer, which is not allowed.
'I have eaten ' is a string
99 is an integer
' burritos.' is a string

You cannot directly add (+) a string and an integer â€” Python will raise a TypeError.

its fix

In [36]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

This works because now all parts are strings.

In [37]:
'I have eaten 99 burritos.'

'I have eaten 99 burritos.'